# Ignorar carpetas de compilación
**/bin/
**/obj/
**/Debug/

# Archivos y carpetas de configuración de Visual Studio
.vs/
*.user
*.suo

# Archivos generados automáticamente por MSBuild
*.GeneratedMSBuildEditorConfig.editorconfig
*.AssemblyReference.cache
*.AssemblyInfoInputs.cache
*.assets.cache

# Archivos de caché temporales
*.cache

# Archivos innecesarios de configuración
*.dbmdl
*.pdb

# Ignorar carpetas y archivos de test auto-generados
TestResults/
