# Ignorar carpetas de compilación
**/bin/
**/obj/
**/Debug/

# Archivos y carpetas de configuración de Visual Studio
.vs/
*.user
*.suo

# Archivos de usuario de soluciones y proyectos
*.userosscache
*.sln.docstates

# Archivos generados automáticamente por MSBuild
*.GeneratedMSBuildEditorConfig.editorconfig
*.AssemblyReference.cache
*.AssemblyInfoInputs.cache
*.assets.cache

# Archivos de caché temporales
*.cache

# Archivos innecesarios de configuración
*.dbmdl
*.pdb

# Ignorar carpetas y archivos de test auto-generados (si aplica)
TestResults/
/node_modules
/Pruebas-Conceptos-MVC-FTG.Data/bin/Debug/net9.0/Pruebas-Conceptos-MVC-FTG.Data.deps.json
/Pruebas-Conceptos-MVC-FTG.Data/bin/Debug/net9.0/Pruebas-Conceptos-MVC-FTG.Data.dll
/Pruebas-Conceptos-MVC-FTG.Data/bin/Debug/net9.0/Pruebas-Conceptos-MVC-FTG.Data.pdb
/Pruebas-Conceptos-MVC-FTG.Data/bin/Debug/net9.0/Pruebas-Conceptos-MVC-FTG.Model.dll
/Pruebas-Conceptos-MVC-FTG.Data/bin/Debug/net9.0/Pruebas-Conceptos-MVC-FTG.Model.pdb
